.dashboard {
	background: url("../bgg.jpg")!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

#sliderMain li{
	margin-bottom: 1rem;
	padding-left: 3rem;	
}
#sliderMain li a{
	background: url("../user_1.jpg") no-repeat 1rem 0.5rem;
	color:#fff;
}
#sliderMain li:hover a{
	background: url("../user.jpg") no-repeat 1rem 0.5rem;
	color:rgba(76,209,144,1);
	background-color:rgb(51, 57, 68);
}
#sliderMain li:nth-child(2) a{
	background: url("../chain_1.jpg") no-repeat 1rem 0.5rem;
	color:#fff;
}
#sliderMain li:nth-child(2):hover a{
	background: url("../chain.jpg") no-repeat 1rem 0.5rem;
	color:rgba(76,209,144,1);
	background-color:rgb(51, 57, 68);
}
#sliderMain li:nth-child(3) a{
	background: url("../browser_1.jpg") no-repeat 1rem 0.5rem;
	color:#fff;
}
#sliderMain li:nth-child(3):hover a{
	background: url("../browser.jpg") no-repeat 1rem 0.5rem;
	color:rgba(76,209,144,1);
	background-color:rgb(51, 57, 68);
}
#sliderMain li:nth-child(4) a{
	background: url("../wallet_1.jpg") no-repeat 1rem 0.5rem;
	color:#fff;
}
#sliderMain li:nth-child(4):hover a{
	background: url("../wallet.jpg") no-repeat 1rem 0.5rem;
	color:rgba(76,209,144,1);
	background-color:rgb(51, 57, 68);
}
#sliderMain li:nth-child(5) a{
	background: url("../setting_1.jpg") no-repeat 1rem 0.5rem;
	color:#fff;
}
#sliderMain li:nth-child(5):hover a{
	background: url("../setting.jpg") no-repeat 1rem 0.5rem;
	color:rgba(76,209,144,1);
	background-color:rgb(51, 57, 68);
}
#qqq {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#www {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.blockStyle {
	margin: 1rem 3rem 0rem 0rem;
	// height: 8rem;
	border-radius: 10px;
	background-color: rgba(68,76,100,1);
	font-size: 1.5rem;
	min-width: 10rem;
}
.blockStyle span{
	color: #FFF;
	font-size: 1.2rem;
}
.blockStyle h2,{
	color: white;
}
.greenStyle {
	background-color: rgba(76,209,144,1);
}


.clientBack a {
	color:#bbb;
	&:hover{
		color: #FFF;
		transform:scale(1.1,1.1);
	}
}


.browse-list {
	text-align: center;
	float: left;
	min-width: 180px;
	min-height: 180px;
	margin:30px 100px 60px 50px;
	box-sizing:border-box;
	background-color:#234;
	transition:all 0.6s;
	a {
		color: #fff;
		font-weight: bold;
		display: inline-block;
	}
}

.browse-list:hover{
	background-color: rgba(76,209,144,1);
	transform:scale(1.1,1.1);
}

.witnesses-data{
	tr {
		margin-right: 2.5rem;
		margin-bottom: 1rem;
		height: 6rem;
		background-color: rgba(0,204,255,.5);
		min-width: 180px;
		max-width: 300px;
		text-align: center;
		line-height: 4rem;
		cursor: pointer;
		&:hover {
			background-color: rgba(0,204,255,1);
		}
		&:first-child {
			background-color: rgba(76,209,144,.8);
			&:hover {
				background-color: rgba(76,209,144,1);
			}
		}
		&:last-child {
			background-color: rgba(76,209,144,.5);
			&:hover {
				background-color: rgba(76,209,144,1);
			}
		}
	}
	td {
		color:#fff;
		display: block;
		&:last-child{
			position: relative;
			bottom:1.5rem;
		}
	}
}